$uploaderPrefixCls: "sn-uploader";
.#{$uploaderPrefixCls} {
  display: flex;
  flex-wrap: wrap;
  &-item {
    position: relative;
    margin: 0 8px 8px 0;
    cursor: pointer;
    &-delete {
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 14px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 0 0 0 12px;
      &-icon {
        position: absolute;
        top: -11px;
        right: -5px;
        color: #fff;
        font-size: 16px;
        transform: scale(0.3);
      }
    }
  }
  &-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    margin: 0 8px 8px 0;
    background-color: #f7f8fa;
    &-disabled {
      opacity: 0.5;
    }
  }
  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; // to clip file-upload-button
    cursor: pointer;
    opacity: 0;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
