$toastPrefixCls: 'sn-toast';

.#{$toastPrefixCls} {
  width: calc(100vw);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transform: translateZ(1px);

  > span {
    max-width: 50vw;
  }
  &-icon-wrap{
    padding: 10px 0;
  }
  &-mask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transform: translateZ(1px);
  }
  &-nomask {
    position: fixed;
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-content{
    text-align: center;
    min-width: 70px;
    border-radius: 0.1rem;
    color: #fff;
    background-color: $toast-fill;
    line-height: 0.5rem;
    padding: 0.1rem 0.2rem;
  }
}
