$toastPrefixCls: "sn-toast";

.#{$toastPrefixCls} {
  width: calc(100vw);
  height: calc(100vh);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transform: translateZ(1px);

  > span {
    max-width: 50vw;
  }
  &-icon-wrap {
    padding: 10px 0;
  }
  &-content {
    text-align: center;
    min-width: 70px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--background-toast);
    padding: 6px 10px;
  }
}
