$switchPrefixCls: "sn-switch";

.#{$switchPrefixCls} {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 2em;
  height: 1em;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  &-active {
    background-color: var(--primary);
    .#{$switchPrefixCls}-round {
      transform: translateX(100%);
    }
  }
  &-active.#{$switchPrefixCls}-sm {
    .#{$switchPrefixCls}-round {
      transform: translateX(1.2em);
    }
  }
  &-round {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: 100%;
    box-shadow:
      0 3px 1px 0 rgba(0, 0, 0, 0.05),
      0 2px 2px 0 rgba(0, 0, 0, 0.1),
      0 3px 3px 0 rgba(0, 0, 0, 0.05);
    transition:
      transform 0.3s cubic-bezier(0.3, 1.05, 0.4, 1.05),
      0.3s cubic-bezier(0.3, 1.05, 0.4, 1.05);
  }
  &-sm {
    width: 2em;
    height: 0.8em;
    .#{$switchPrefixCls}-round {
      height: 0.8em;
      width: 0.8em;
    }
  }
  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
