$breadcrmbPrefixCls: "sn-breadcrmb";

.#{$breadcrmbPrefixCls} {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  &-item {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    color: var(--black-transparent-45);
    &-separator {
      margin: 0 8px;
      color: var(--black-transparent-45);
    }
    &:last-child {
      color: var(--primary);
    }
    &-disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}
