@import "variables";
@import "reboot";
@tailwind base;
@tailwind components;
@tailwind utilities;
.dumi-default-content-footer svg{
  display: inline;
}
.sn-title {
    margin: 0;
    padding: 16px 0 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

// minxin
@import "mixin";

// button
@import "../components/button/index";

// loading
@import "../components/loading/index";

// mask
@import "../components/mask/index";

// image
@import "../components/image/index";

// modal
@import "../components/modal/index";

// toast
@import "../components/toast/index";

// switch
@import "../components/switch/index";

// input
@import "../components/input/index";

// uploader
@import "../components/uploader/index";

// tab-bar
// @import "../components/navigation/tab-bar/index";

// breadcrmb
@import "../components/breadcrumb/index";

// tree-select
@import "../components/tree-select/index";

// badge
@import "../components/badge/index";

// progress
@import "../components/progress/index";
