$imagePrefixCls: "sn-image";
.#{$imagePrefixCls} {
  &-wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &-round {
      overflow: hidden;
    }
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &-loading,
  &-error {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #f7f8fa;
  }
}
