.single-toast {
  width: calc(100vw);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transform: translateZ(1px);

  > span {
    max-width: 50vw;
  }
  &-mask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transform: translateZ(1px);
  }
  &-nomask {
    position: fixed;
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-notice-content {
    .single-toast-text {
      text-align: center;
      min-width: 70px;
      border-radius: 0.1rem;
      color: #fff;
      background-color: $toast-fill;
      // line-height: @line-height-paragraph;
      line-height: 0.5rem;
      padding: 0.1rem 0.2rem;
    }
  }
}
